 .accesshide {position:absolute;left:-10000px;font-weight:normal;font-size:1em;}
 a.skip-block,
 a.skip {position: absolute;top: -1000em;font-size: 0.85em;text-decoration:none;}

 input[type="submit"].i-search { height: 28px; width: 28px; border: none; text-indent: -9999px; }
 #page-content { background-color:#e7e7e7 }

 fieldset.hidden { display: block; visibility: visible; }

 .arrow.sep { display: none;}

 .course { padding-bottom: 0 !important;}

 #coursesearch2 { display: none;}

.block{
    border:none;
    margin-bottom:20px;
    width:210px!important;
}
.block hr{
    display:none;
}

.block .header .block_action{
    padding:15px 10px 0 0;
}

 .block-region .block .header h2{
    font-size:1.2em;
    margin:0;
    padding:15px 0 10px 10px;
}

#region-main h1{
    font-size:1.8em;
    font-weight:400;
    line-height:1.8em;
    padding:10px 0;
}
#region-main h2{
    font-size:1.6em;
    font-weight:400;
    line-height:1.6em;
    margin:0!important;
    padding:3px;
    border-bottom:1px solid #d1cece;
    color:#333;
}
#region-main h3{
    font-size:1.4em;
    font-weight:400;
    line-height:1.4em;
    padding:10px 0;
}
#region-main h4{
    font-size:1.2em;
    font-weight:700;
    line-height:1.2em;
    padding:10px 0;
}
#region-main h5{
    font-size:1.1em;
    font-weight:700;
    line-height:1em;
    padding:10px 0;
    font-style:italic;
    color:#333;
}
#region-main h6{
    font-size:1.1em;
    font-weight:700;
    line-height:1em;
    padding:10px 0;
}
h2.main,h3.main,h4.main,h5.main,h6.main{
    text-align:left;
}
#region-main h2.main{
    font-size:1.6em;
    font-weight:400;
    line-height:1.6em;
    margin:0 0 10px;
    padding:3px;
}
#region-main h2.headingblock{
    font-size:1.6em;
    font-weight:400;
    line-height:1.6em;
    margin:0 0 10px;
    padding:3px;
}
#region-main .coursebox h3{
    font-size:1em;
}
#region-main p{
    line-height:1.5em;
    margin:0;
    padding:0 0 5px;
}

#course_search
{
	float: right;
	margin-right: 15px;
}

.course_category_tree .category.with_children.collapsed>.info .name {
	background-image: none;
}

.coursebox > .info > .name a {
    background: url('../img/theme/icon_record.png') no-repeat 0px 0px;
    padding-left: 30px;
    text-decoration: none;
    color: #fff;
}

#page-course-index-category .generalbox.info {
    margin: 20px 0 0 0;
    border-color: transparent;
    font-size: .9em;
    cursor: pointer;
    color: #fff;
    height: 40px;
    line-height: 38px;
    overflow: hidden;
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0;
    width: auto;
}

.coursebox {
    width: auto;
}

input[type="submit"] {
    padding: 3px 10px;
}